// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Custom

@mixin border-h($color: $brand) {
    z-index: 10;
    position: fixed;
    height: 10px;
    width: 100%;
    background-color: $color;
}

@mixin border-v($color:$brand) {
    z-index: 9;
    position: fixed;
    height: 100%;
    width: 10px;
    background-color: $color;
}


@mixin bold-font{
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: 'Good Headline Pro';
    font-weight: bold;
}