$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$bg: #FFF; //#0B0C11;
$text: #262C3B; //#171717; // #0D0E13; //#FFF;
$brand: #3EC7C2;//#4175C0; //#39e5c5;//#3EC7C2; // #39e5c5; //#2aedc8; // #80f2dc; // #5cc1af; //#66FCF1; // #6E8ED9; // #4285f4
$gradient: linear-gradient(to bottom, $brand 0%,#799ed2 100%);

